body{
    color: #777777;
}
.second-page-hat{
    background-color:#f8b803;
    
    height: 88px;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.gallery-of-product img{
    position: relative;
    max-width: 420px;
    max-height: 420px;
}
.gallery-carousel img{
    position: absolute;
    max-width: 100px;
    max-height: 100px;
}
.green-text{
    color: #61A854;
}
.black-text{
    color: #242424;
}