.orange-dot{
    color: #f8b803;
    font-size: larger;
    font-weight: bold;
}
.divider-line-wraper{
    padding-top: 10px;
    padding-bottom: 10px;
}
.divider-line{
    height:2px;
    width:13%;
    background-color:#f8b803
}
.carousel-store img{
    position: relative;
    max-width: 400px;
    max-width: 400px;
}
.mega-sale-day img{
    position: relative;
    max-width: 600;
    height: auto;
}