@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* GENERAL COLORS START */
    --header-color: rgb(248, 184, 3);

/* GENERAL COLORS END */
}

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background: url(../img/z-design-imgs/background-promo.jpeg) no-repeat fixed;
    background-size:cover;
    z-index:-10;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

.orange-text, .orange-dot, .orange-prices {
    color: #f8b803;
    font-weight: bold;
}

.green-text {
    color: #669904;
    font-weight: bold;
}

.white-text {
    color: white;
}

.divider-line-wraper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider-line {
    height: 2px;
    width: 13%;
    background-color: #f8b803
}



/* GENERAL CLASSES START  */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-spacebetween {
    justify-content: space-between;
}

.justify-content-spacearound {
    justify-content: space-around;
}


/* GENERAL CLASSES END */

/* Header styles start */

.info-header {
    background-color: #fafafa;
    padding: 5px 40px;
    margin-left: 24,8px;
    margin-right: 24,8px;
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.info-header a {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

.home-page {
    color: rgb(36, 36, 36);
    font-size: 54px;
}

.home-page p:first-child {
    font-size: 14px;
    color: rgb(248, 184, 3);
}

.home-page span {
    color: rgb(248, 184, 3);
}

.home-page p span:last-child {
    color: rgb(102, 153, 4);
    font-size: 20px;
    font-weight: bold;
}

.home-page p {
    color: rgb(119, 119, 119);
    font-size: 16px;
}

.main-menu {
    font-size: 14px;
    font-weight: bold;
    background-color: var(--header-color);
}

.main-menu a {
    color: #fff;
}

.shop-now {
    margin-bottom: 17px;
}

.shop-now-button {
    background-color:rgb(248, 184, 3);
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
}

.home-info {
    text-align: center;
}

.home-info-item {
    border: 0.5px solid grey;
    font-size: 16px;
    line-height: 1.5;
}

.home-info-item p:first-child {
    font-weight: bold;
}

.home-info-item p:last-child {
    color: grey;
}

.home-info span {
    color: #f8b803;
}
/* 
.shop-now-button a {
    

} */

/* header styles end */


/* ONLY New Arrivals block //start\\ */

.new-arrivals {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    background: white;
    text-align: center;
}

.carousel-store img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

.mega-sale-day img {
    
    position: relative;
    max-width: 45%;
    z-index: -1;
}

.best-selling img {
    position: relative;
    max-width: 50%;
}

.categories img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

.promotion img {
    position: relative;
    max-width: 70%;
}

.new-arrivals .carousel-store .button-add-to-cart button, .new-arrivals .specials .best-selling .button-buy-now, .new-arrivals .promotion .button-browse-instruments {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid;
    text-decoration: none;
}

.new-arrivals .carousel-store .button-add-to-cart button {
    background-color: #242424;
    color: white;
    text-decoration: none;
}

.new-arrivals .specials .best-selling .button-buy-now {
    background-color: white;
    color: #242424;
    text-decoration: none;
}

.new-arrivals .promotion .button-browse-instruments {
    background-color: #f8b803;
    color: white;
    text-decoration: none;
}

.new-arrivals .carousel-store .button-add-to-cart button:hover, .new-arrivals .specials .best-selling .button-buy-now:hover {
    background-color: #f8b803;
    color: white;
    text-decoration: none;
}

.new-arrivals .promotion .button-browse-instruments:hover {
    background-color: white;
    color: #242424;
    text-decoration: none;
}

/* ONLY New Arrivals block \\finish// */

/* ONLY Best-prices block \\start// */

section.drum-set-background {
    min-height: 800px;
    padding: 20px 800px 20px 20px;
}

.drum-set-background {
    background: url("../img/z-design-imgs/background-banner-drum-set.jpeg") center no-repeat;
    z-index: -1;
}

.products {
    background: black;
    z-index: 1;
    max-width: 250px;
    background-size: auto;
    margin: 15px;
}

.drum-set-background .button-shop-now button {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid;
}

.drum-set-background .button-shop-now button:hover {
    background-color: orange;
}

.best-prices {
    background: white;
    z-index: 0;
    text-align: center;
}

.promo {
    padding: 20px 20px 20px 800px;
}

.product-best-prices a {
    color: rgb(129, 125, 125);
    font-size: 18px;
}

.product-best-prices img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

.products img {
    position: relative;
    max-width: 200px;
    max-height: 150px;
}

.strike-price {
    color: darkgray;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.product-best-prices .button-add-to-cart button {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid;
}

.product-best-prices .button-add-to-cart button:hover {
    background-color: orange;
}

.product-best-prices-nav a {
    font-weight: 600;
    color: rgb(182, 176, 176);
}

.product-best-prices-nav a:hover {
    color: rgb(87, 84, 84);
}

/* Best-Selling Oleg Buno \\start// */

.best-selling-instruments {
    background: white;
    z-index: 0;
    font-family: "Work sans" sans-serif;
    text-align: center;
}

carousel-store-b-sell {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}

.product-name-nav {
    font-size: 20px;
    color: #777777;
}

.button-b-sell {
    color: #ffffff;
    font-size: 14px;
    padding: 15px 25px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid;
}

.button-b-sell:hover {
    background-color: #f8b803;
    transition: 0.4s;
}

.white-text-b {
    color: #ffffff;
    background-color: black;
}

/*
.product-b-sell{

}
*/

/* Best-Selling Oleg Buno \\finish// */
